@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-05-25 10:11:30
 * @version $Id$
 */
 body{
 	background:#414149c4;
 	color:#964747;
 }
 div{
 	margin:6px;
 	padding:1em;
 	background: white;
 }
.normalBtn{
	padding:.2em .5em;
	border :1px solid rgba(0,0,0,.1);
	background:#3A9Daa linear-gradient(hsla(0,0%,20%,.2),transparent);
	border-radius:.1em;
	box-shadow:0 .05em 0.25em rgba(0,0,0,.5);
	color:white;
	text-shadow:0 -0.05em 0.05em rgba(0,0,0,.5);
	line-height:1.5;
	font-size:185%;
}
.red{
	color:red;
}
.style1{
    background: #f5f5fb;
}

.style1:after{
	content:'';
	display:block;
	width:0;
	clear:both;
}

.style1 div{
	/* float:left; */
	/* border:1px solid #b4b4b7; */
}
.style1 div.desc{
	color:#891717;
	/* border:none; */
	background:none;
	margin-top:1em;
}
/* 
//一、背景和边框
//半透明边框 */

.a1{
	width:9em;
	height: 5em;
	border:6px solid rgba(255,255,255,.5);
	background:#FCE2E2;
	background-clip:padding-box;
}
/* 多重边框方案·
1、box-shadow .第4个参数为扩张半径。
2、outline outline-offset规定描边与边框的距离
 */

.a2{
	box-shadow: 0 0 0 1em #FEA7A7,0 0 0 2em #EF8585, 0 0.25em 0.5em 2em #A03434;
	width:9em;
	height: 5em;
	padding:2em;
	background:#FCE2E2;
	margin:2.2em;
}
.a3{
	outline:dashed red .1em;
	outline-offset:-1em;
	width:9em;
	height: 5em;
	background:#FCE2E2;
}
/* 背景定位：
background-posiition:top xxem left xxem;
background-origin:padding-box, content-box;
 */
.a4{
	width:12em;
	height: 12em;
	background:url('images/Lock.png') no-repeat #e8e8e8eb;
	background-origin:content-box;
	background-position:bottom 12px right 0 ;
	padding:1em;
 }

 /* 边框内圆角 
1、两个div
2、box-shadow,outline
 */
.a5{
	width:14em;
	height: 10em;
	background:#8AFDE2;
	border-radius:1em;
	box-shadow:0 0 0 0.5em #37CCCA;
	outline:solid #37CCCA 0.56em;
	margin-top:2em;
 }
 /*  条纹背景
修改background-size和角度即可得到花纹的背景。
修改角度45deg以及四条颜色可以得到斜条纹
repeating-linear-gradient(45deg,
#fb3, #58a 30px);
同色系的用声色做底色，白色透明度的颜色做条纹。
 */
.a6{
	width:20em;
	height: 10em;
	background: linear-gradient(120deg,#F6FC80 50%,#7ED9DE 0) 0 0 /50px 50px no-repeat;
	margin-top:2em;
	border: 1px solid #b4b4b7;
 }
.a7{ 
	width:20em;
	height: 10em;
	background:linear-gradient(45deg,#F6FC80 25%,#7ED9DE 0,#7ED9DE 50%,#F6FC80 0,#F6FC80 75%,#7ED9DE 0) 0 0 /20px 20px ;
	margin-top:2em;
 }
.a8{ 
	width:20em;
	height: 10em;
	background:repeating-linear-gradient(60deg,#F6FC80,#F6FC80 20px,#7ED9DE 0 ,#7ED9DE 40px) ;
	margin-top:2em;
 }
.a9{ 
	width:20em;
	height: 10em;
	background:#6911A7 repeating-linear-gradient(60deg,rgba(255,255,255,.3),rgba(255,255,255,.3) 20px,rgba(255,255,255,.5) 0 ,rgba(255,255,255,.5) 40px);
	margin-top:2em;
 }
 .a9-1{ 
    width: 20em;
    height: 20em;
    background: #6aa3e0;
    background-image: repeating-linear-gradient(rgba(255, 255 ,255,0.6) 0,rgba(255, 255 ,255,0.6) 1px,rgba(0 ,0, 0,0.3) 0 ,rgba(0, 0 ,0,0.3) 2em), 
    repeating-linear-gradient(90deg,rgba(255, 255 ,255,0.6) 0,rgba(255, 255 ,255,0.6) 1px,rgba(0 ,0, 0,0.3) 0 ,rgba(0, 0 ,0,0.3) 2em);
    background-position: 0 0;
 }
 .a9-2{/*  //最后一个颜色可以不写终点。 */
     width: 20em;
    height: 20em;
    background: #6aa3e0;
    background-image: linear-gradient(90deg,rgba(255,255,255,0.2),rgba(255,255,255,0.2) 1px,rgba(0,0,0,0.3) 0), 
    linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2) 1px,rgba(0,0,0,0.3) 0 ), 
    linear-gradient(0,white 0 ,white 2px,transparent 0), 
    linear-gradient(90deg,white 0 ,white 2px,transparent 0);
    background-size: 2em 2em,2em 2em,6em 6em,6em 6em;
}
 .a10{
 	width:20em;
	height: 10em;
	background:#D73278;
	background-image:radial-gradient(#FF7EF1 30% ,transparent 0),
	radial-gradient(#FF7EF1 30% ,transparent 0);
	background-size:2em 2em ;
	background-position:0 0 ,1em 1em;
 }
 /* 连续的图像边框  在背景图上叠加一层白色背景，border透明显示出背景图。*/
 .a11{
 	width:29em;
	height:13em;
 	background:linear-gradient(white,white) padding-box,
 	url(images/q4.jpg) border-box 0 / cover;
 	border: 1.5em solid transparent;
 }
 /* 信封边框  border的背景图片和content的背景图片是分开渲染的。添加background-origin: border-box;*/
 .a12{
 	width: 29em;
    height: 13em;
    background-image: linear-gradient(white ,white), repeating-linear-gradient(45deg,red 0,red 1em,transparent 0 ,transparent 2em,blue 0,blue 3em,transparent 0 ,transparent 4em);
    background-clip: content-box,padding-box;
    background-size: cover;
 }
 .a13{
 	width: 29em;
    height: 13em;
    background-image: linear-gradient(white ,white),
 repeating-linear-gradient(45deg,red 0,red 1em,transparent 0 ,transparent 2em,blue 0,blue 3em,transparent 0 ,transparent 4em);
    background-clip: padding-box,border-box;
    background-size: cover;
    border: 1em solid transparent;
    background-origin: border-box;
 }
 /* 蚂蚁行军样式框 a15的基础上将border设置成1px */
 @keyframes ants { 100% { background-position: 100% } }
 .a14{
	width: 29em;
	height: 13em;
	background-image: linear-gradient(white 0 ,white 100%),repeating-linear-gradient(-45deg,red 0,red 25%,blue 0,blue 50%);
	background-clip: padding-box,border-box;
	background-size: cover;
	border: 1px solid transparent;
	background-origin: border-box;
	background-position: 0 0;
	animation: ants 12s linear infinite;
	background-size: 1em 1em;
 }
 /* 脚注 */
 .a15{
	background: white;
	background-image: linear-gradient(90deg, black 0,black 20%,transparent 0 ,transparent 100%);
	background-size: 100% 3px;
	background-repeat: no-repeat;
	background-origin: padding-box;
	border: 1em solid white;
	padding: 0
 }

 /* ********************************************************* */
 /* 二、形状： */
 /* 当任意两个相邻圆角的半径之和超过 border box 的尺寸时， 用户
代理必须按比例减小各个边框半径所使用的值， 直到它们不会相互重叠
为止。 
border-radius， 有一个鲜为人知的真相： 它可以单独指定水平
和垂直半径， 只要用一个斜杠（/） 分隔这两个值即可。
它不仅可以接受长度值， 还可以接受百分比值。 这个
百分比值会基于元素的尺寸进行解析*/
/*  border-top-left-radius
 border-top-right-radius
 border-bottom-right-radius
 border-bottom-left-radius
为所有四个角提供完全不同的水平和垂直半径， */
.a16{
	height: 0;
	width: 0;
	background: yellow;
	border-radius: 0 150px 50px 90px;
	border-top: 4em solid red;
	border-bottom: 4em solid black;
	border-left: 4em solid pink;
	border-right: 4em solid white;
	padding: 0;
}
/* 椭圆 */
.a17{
	width:2em;
	height:3em;
	border-radius:50%;
	height: 0;
	width: 0;
	border-top: 4em solid red;
	border-bottom: 4em solid black;
	border-left: 4em solid pink;
	border-right: 4em solid white;
	padding: 0;
}
/* 半椭圆 对称的图形，相加为100% 因此半径为50%；设置为0之后该角就为直角，就不存在这个border的内容
半圆只需要宽度的高度的2倍
*/
.a18{
	height: 0;
	width: 0;
	padding: 0;
	border-top: 4em solid red;
	border-bottom: 4em solid black;
	border-left: 4em solid pink;
	border-right: 4em solid white;
	border-radius:50% / 100% 100% 0 0 ;
}
.a19{
	height: 0;
	width: 0;
	padding: 0;
	border-top: 4em solid red;
	border-bottom: 4em solid black;
	border-left: 4em solid pink;
	border-right: 4em solid white;
	border-radius:100% 0 0 100% / 50%;
}
/* 四分之一圆 */
.a20{
	height: 0;
	width: 0;
	padding: 0;
	border-top: 4em solid red;
	border-bottom: 4em solid black;
	border-left: 4em solid pink;
	border-right: 4em solid white;
	border-radius:100% 0 0 0
}
/* 平行四边形  skew 变形*/
.a21{
	height:1em;
	width:6em;
	position:relative;
	background: initial;
	z-index:1;
}
.a21:before{
	content:'';
	display:block;
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:100%;
	z-index:-1;
	background:#978CE7;
	transform:skew(-50deg);
}
/* 菱形图片头像 正方形图片和框，img放大1.42倍 rotate 旋转 scale 缩放*/
.a22{
	width:6em;
	height:6em;
	transform:rotate(45deg);
	padding:0;
	overflow: hidden;
	margin-left: 2em;
}
.a22 img{
	width:100%;
	transform:rotate(-45deg) scale(1.42);
}
/* 图片剪裁 clip-path 任意点到点的多边形剪裁 不支持IE11，兼容性不好 */
.a23{
	background: initial;
}
.a23 img{
	width:8em;
	clip-path:polygon(0 50%, 50% 100%, 100% 50%,50% 0 );
}
/* 切角效果 利用渐变来实现  切除多个角，多层级渐变叠加，更改渐变size
radial-gradient 波浪弧边的效果*/
.a24{
	width:10em;
	height:12em;
	background:linear-gradient(225deg,#b16d4fd4 0,#9c390f33 95%,transparent 0,transparent 100%);
}
.a25{
	width:10em;
	height:12em;
	background:linear-gradient(225deg,#F1A4A4 0,#F1A4A4 95%,transparent 0,transparent 100%) bottom left,
	linear-gradient(45deg,#8594F0 0,#8594F0 95%,transparent 0,transparent 100%) top right,
	linear-gradient(135deg,#FEFF9A 0,#FEFF9A 95%,transparent 0,transparent 100%) bottom  right,
	linear-gradient(315deg,#FF988F 0,#FF988F 95%,transparent 0,transparent 100%) top left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.a26{
	width:10em;
	height:12em;
	background:radial-gradient(circle at top left,transparent 0,transparent 16%,#F1A4A4 0,#F1A4A4 100%) top left,
	radial-gradient(circle at top right,transparent 0,transparent 16%,#8594F0 0,#8594F0 100%) top right,
	radial-gradient(circle at bottom left,transparent 0,transparent 16%,#FEFF9A 0,#FEFF9A 100%) bottom left,
	radial-gradient(circle at bottom right,transparent 0,transparent 16%,#FF988F 0,#FF988F 100%) bottom right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.a27{
	width:10em;
	height:12em;
	position:relative;
	padding:0;
}
.a27:after{
	content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 100%;
    background: radial-gradient(10px 15px ellipse at top,#ffffff 0,#ffffff 90%,transparent 0,transparent 10%);
    background-size: 18px 15px;
    height: 15px;
}
.a28{
    position: relative;
    width: 262px; height: 262px;
    border-radius: 50%;
    background:
    linear-gradient(30deg,transparent 0, transparent 40%,#343434cc 0,#343434cc 100%) 100% 0 /50% 100% no-repeat,   
    linear-gradient(60deg,#343434cc,#343434cc 60%,transparent 0, transparent 50%) 0 100% /100% 50% no-repeat,
    repeating-radial-gradient(circle,#1f1d1d9e,#1f1d1d9e 3px,#adabab ,#adabab  4px,#1f1d1d9e,#1f1d1d9e 6px); 
}
.a28:after {
    position: absolute;
    top: 50%; left: 50%;
    margin: -35px;
    border: solid 1px #d9a388;
    width: 68px; height: 68px;
    border-radius: 50%;
    background: #b5ac9a;
    box-shadow: 0 0 0 4px #da5b33, inset 0 0 0 27px #da5b33;
    content: '';
}
.a29{
	width: 20em;
    height: 20em;
    /* border-radius: 50%; */
    background: linear-gradient(60deg,#040404b5,#040404b5 60%,transparent 0) no-repeat,
    linear-gradient(210deg,#040404b5,#040404b5 60%,transparent 0) no-repeat,
    repeating-radial-gradient(circle,#bdb7b7 ,#bdb7b7 1px,#6b6666 ,#6b6666 9px);
    background-size: 100% 50%,50% 100%,100% 100%;
    background-position: left bottom,right top;
}
/* 切角效果 */
.a30{

    border:60px solid #DBF7EA;/* 回退作用，border-image有些浏览器不支持。 */
	-webkit-border-image: url(images/q8.png) 33%/60px /20px round;
    height: 20em;
    width: 20em;
}
.a31{
	width:8em;
	height:6em;
	border: 20px solid transparent;
	border-image: 1 url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" fill="%2358a">\
	<polygon points="0,1 1,0 2,0 3,1 3,2 2,3 1,3 0,2"/>\
	</svg>');
	background: #58a;
	background-clip: padding-box;
}
.a32{/* svg+xml不能加空格 */
	width:8em;
	height:6em;
	border: 20px solid transparent;
	border-image:url('data:image/svg+xml,\<svg xmlns="http://www.w3.org/2000/svg" width="5" height = "5" fill= "#c0c584">\
		<path d="M 1 2 A 1 1 90 0 1 2 1 A 1 1 90 0 1 3 1 A 1 1 120 0 1 4 2  A 1 1 120 0 1 4 3 A 1 1 120 0 1 3 4  A 1 1 120 0 1 2 4 A 1 1 120 0 1 1 3 A 1 1 120 0 1 1 2">\
		</path>\
		</svg>') 2 fill/20px/20px round
}
.a33{
	background: url(./images/q2.png) 100% 100%/100%;
    width: 16em;
    height: 22em;
    clip-path: polygon(50% 30%,30% 25%,20% 28%,15% 40%,18% 50%,25% 60%,35% 65%,45% 70%, 50% 75%,55% 70%,65% 65%,75% 60%,82% 50%,85% 40%,80% 28%,70% 25%);
    transition:2s clipPath;
}
.a33:hover{
	clip-path:polygon(0 0 ,0 100%,100% 100%,100% 0);
}