@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-05-25 10:11:30
 * @version $Id$
 */
 body{
 	background:#414149c4;
 	color:#964747;
 }
 div{
 	margin:6px;
 	padding:1em;
 }
.normalBtn{
	padding:.2em .5em;
	border :1px solid rgba(0,0,0,.1);
	background:#3A9Daa linear-gradient(hsla(0,0%,20%,.2),transparent);
	border-radius:.1em;
	box-shadow:0 .05em 0.25em rgba(0,0,0,.5);
	color:white;
	text-shadow:0 -0.05em 0.05em rgba(0,0,0,.5);
	line-height:1.5;
	font-size:185%;
}
/* 
//背景和边框
//半透明边框 */

.a1{
	width:9em;
	height: 5em;
	border:6px solid rgba(255,255,255,.5);
	background:#FCE2E2;
	background-clip:padding-box;
}
/* 多重边框方案·
1、box-shadow .第4个参数为扩张半径。
2、outline outline-offset规定描边与边框的距离
 */

.a2{
	box-shadow: 0 0 0 1em #FEA7A7,0 0 0 2em #EF8585, 0 0.25em 0.5em 2em #A03434;
	width:9em;
	height: 5em;
	padding:2em;
	background:#FCE2E2;
	margin:2.2em;
}
.a3{
	outline:dashed red .1em;
	outline-offset:-1em;
	width:9em;
	height: 5em;
	background:#FCE2E2;
}
/* 背景定位：
background-posiition:top xxem left xxem;
background-origin:padding-box, content-box;
 */
.a4{
	width:12em;
	height: 12em;
	background:url('images/Lock.png') no-repeat #e8e8e8eb;
	background-origin:content-box;
	background-position:bottom 12px right 0 ;
	padding:1em;
 }

 /* 边框内圆角 
1、两个div
2、box-shadow,outline
 */
.a5{
	width:14em;
	height: 10em;
	background:#8AFDE2;
	border-radius:1em;
	box-shadow:0 0 0 0.5em #37CCCA;
	outline:solid #37CCCA 0.56em;
	margin-top:2em;
 }
 /*  条纹背景
修改background-size和角度即可得到花纹的背景。
修改角度45deg以及四条颜色可以得到斜条纹
repeating-linear-gradient(45deg,
#fb3, #58a 30px);
同色系的用声色做底色，白色透明度的颜色做条纹。
 */
.a6{
	width:20em;
	height: 30em;
	background: linear-gradient(120deg,#F6FC80 50%,#7ED9DE 0) 0 0 /50px 50px no-repeat;
	margin-top:2em;
 }
.a6{ 
	width:20em;
	height: 10em;
	background:linear-gradient(45deg,#F6FC80 25%,#7ED9DE 0,#7ED9DE 50%,#F6FC80 0,#F6FC80 75%,#7ED9DE 0) 0 0 /20px 20px ;
	margin-top:2em;
 }
.a6{ 
	width:20em;
	height: 10em;
	background:repeating-linear-gradient(60deg,#F6FC80,#F6FC80 20px,#7ED9DE 0 ,#7ED9DE 40px) ;
	margin-top:2em;
 }
.a6{ 
	width:20em;
	height: 10em;
	background: #6911A7 repeating-linear-gradient(60deg,rgba(255,255,255,.2),rgba(255,255,255,.2) 20px,#6911A7 0 ,#6911A7 40px) ;
	margin-top:2em;
 }
 .a13{
 	width:20em;
	height: 10em;
	background:#D73278;
	background-image:radial-gradient(#FF7EF1 30% ,transparent 0),
	radial-gradient(#FF7EF1 30% ,transparent 0);
	background-size:2em 2em ;
	background-position:0 0 ,1em 1em;
 }
 /* 连续的图像边框  在背景图上叠加一层白色背景，border透明显示出背景图。*/
 .a14{
 	width:29em;
	height:13em;
 	background:linear-gradient(white,white) padding-box,
 	url(images/qing.jpg) border-box 0 / cover;
 	border: 1.5em solid transparent;
 }
 /* 信封边框 */
 .a15{
 	width:29em;
	height:13em;
	//background:white;
	background-image: linear-gradient(white ,white),
	repeating-linear-gradient(45deg,red 0,red 1em,transparent 0 ,transparent 2em,blue 0,blue 3em,transparent 0 ,transparent 4em) ;
	background-origin:padding-box,border-box;
	background-size: cover;
	border:1em solid transparent;
 }